<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Rotam</string>
    <key>CFBundleIdentifier</key>
    <string>com.rotam.desktop</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleExecutable</key>
    <string>Rotam</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Rota başlangıcını belirlemek için konumunuza erişilmesi gerekiyor.</string>
    <key>NSLocationUsageDescription</key>
    <string>Rota başlangıcını belirlemek için konumunuza erişilmesi gerekiyor.</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsLocalNetworking</key>
        <true/>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
